<html>
    
    <head>
        <title>Home</title>
    </head>
    <body >
        {% section 'header' %}
      {% section 'slider' %}
      <!-- Include the dynamic section -->
{% section 'dynamic-sections' %}
      {% section 'collections' %}}



        
        
    </body>
</html>